In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
path = r"C:\Users\danie\Desktop\master_project-env\datasets_combined\Downsampled"

In [2]:
#original
ftx_trade = pd.read_parquet(r"C:\Users\danie\Desktop\master_project-env\datasets_combined\Downsampled\ftx_trades_downsampled.parquet.gz")
# table = pd.read_csv(r"C:\Users\danie\Desktop\master_project-env\datasets_combined\ftx_trades.csv.gz")
# table['timestamp'] = pd.to_datetime(table['timestamp'])
# table = table.set_index('timestamp')

# #compute trade size 
# table['size'] = table['price'] * table['amount']

# #one column for trade count
# table.insert(0, 'ones', np.ones(len(table)))

# table = table.resample('S').sum() #total trade

# ftx_trade['order_count'] = table['ones']
# ftx_trade['trade_size'] = table['price'] * table['amount']

# ftx_trade = ftx_trade.drop(columns=['id', 'price', 'amount'])

# ftx_trade.head()

In [6]:
display(ftx_trade.head())
display(ftx_trade.tail())
display(len(ftx_trade))

                     order_count    trade_size
timestamp
2021-11-19 00:00:00          3.0  3.782356e+04
2021-11-19 00:00:01          1.0  2.163112e+02
2021-11-19 00:00:02          4.0  3.297096e+04
2021-11-19 00:00:03          6.0  4.050724e+04
2021-11-19 00:00:04         66.0  2.455565e+06

                     order_count   trade_size
timestamp
2021-12-18 23:59:55          0.0       0.0000
2021-12-18 23:59:56          1.0    1077.3890
2021-12-18 23:59:57          0.0       0.0000
2021-12-18 23:59:58          1.0      46.8430
2021-12-18 23:59:59         14.0  817194.8722

2591997

In [143]:
path = r"C:\Users\danie\Desktop\master_project-env\datasets_combined"
filetype = 'trades'
ftx_trade.to_parquet(path + "\\dokjwnsampled\\" + 'ftx' + "_" + filetype + "_downsampled.parquet.gz", compression='gzip')

In [59]:
d = ftx_trade.index.to_series().diff()
(d > d.mode()[0])

timestamp
2021-11-19 00:00:00    False
2021-11-19 00:00:01    False
2021-11-19 00:00:02    False
2021-11-19 00:00:03    False
2021-11-19 00:00:04    False
                       ...
2021-12-18 23:59:55    False
2021-12-18 23:59:56    False
2021-12-18 23:59:57    False
2021-12-18 23:59:58    False
2021-12-18 23:59:59    False
Name: timestamp, Length: 2591997, dtype: bool

pandas.core.indexes.datetimes.DatetimeIndex